################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/env
/.vs
/python_of_life.pyproj
/python_of_life.sln